In [1]:
Market Basket Analysis: Apriori Algorithm 
Dataset: Order2.csv
This dataset comprises the list of transactions of a retail company over the 
period of one week. It contains a total of 7501 transaction records where each 
record consists of the list of items sold in one transaction. Using this record of 
transactions and items in each transaction, find the association rules between 
items.
There is no header in the dataset and the first row contains the first transaction, 
so mentioned header = None here while loading dataset. Follow following 
steps:
a. Data Pre-processing
b. Generate the list of transactions from the dataset
c. Train Apriori algorithm on the dataset
d. Visualize the list of rules

SyntaxError: invalid syntax (195490267.py, line 1)

In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer

In [3]:
data = pd.read_csv('Order2.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   shrimp             7500 non-null   object
 1   almonds            5746 non-null   object
 2   avocado            4388 non-null   object
 3   vegetables mix     3344 non-null   object
 4   green grapes       2528 non-null   object
 5   whole weat flour   1863 non-null   object
 6   yams               1368 non-null   object
 7   cottage cheese     980 non-null    object
 8   energy drink       653 non-null    object
 9   tomato juice       394 non-null    object
 10  low fat yogurt     255 non-null    object
 11  green tea          153 non-null    object
 12  honey              86 non-null     object
 13  salad              46 non-null     object
 14  mineral water      24 non-null     object
 15  salmon             7 non-null      object
 16  antioxydant juice  3 non-null      object
 17  frozen smoothie    3 non-null      object
 18  spinach            2 non-null      object
 19  olive oil          0 non-null      float64
dtypes: float64(1), object(19)
memory usage: 1.1+ MB

In [5]:
data.isnull().sum()

shrimp                  0
almonds              1754
avocado              3112
vegetables mix       4156
green grapes         4972
whole weat flour     5637
yams                 6132
cottage cheese       6520
energy drink         6847
tomato juice         7106
low fat yogurt       7245
green tea            7347
honey                7414
salad                7454
mineral water        7476
salmon               7493
antioxydant juice    7497
frozen smoothie      7497
spinach              7498
olive oil            7500
dtype: int64

In [6]:
categorical_cols = ['almonds','avocado','vegetables mix','green grapes','whole weat flour','yams','cottage cheese','energy drink','tomato juice','low fat yogurt','green tea','honey','salad','mineral water','salmon','antioxydant juice','frozen smoothie','spinach']

In [7]:
numerical_cols = ['olive oil']
data = data.drop(columns=['olive oil'])

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   shrimp             7500 non-null   object
 1   almonds            5746 non-null   object
 2   avocado            4388 non-null   object
 3   vegetables mix     3344 non-null   object
 4   green grapes       2528 non-null   object
 5   whole weat flour   1863 non-null   object
 6   yams               1368 non-null   object
 7   cottage cheese     980 non-null    object
 8   energy drink       653 non-null    object
 9   tomato juice       394 non-null    object
 10  low fat yogurt     255 non-null    object
 11  green tea          153 non-null    object
 12  honey              86 non-null     object
 13  salad              46 non-null     object
 14  mineral water      24 non-null     object
 15  salmon             7 non-null      object
 16  antioxydant juice  3 non-null      object
 17  frozen smoothie    3 non-null      object
 18  spinach            2 non-null      object
dtypes: object(19)
memory usage: 1.1+ MB

In [9]:
numerical_imputer = SimpleImputer(strategy='median')
categorical_imputer = SimpleImputer(strategy='most_frequent')

In [10]:
data[categorical_cols] = categorical_imputer.fit_transform(data[categorical_cols])

In [11]:
data.isnull().sum()

shrimp               0
almonds              0
avocado              0
vegetables mix       0
green grapes         0
whole weat flour     0
yams                 0
cottage cheese       0
energy drink         0
tomato juice         0
low fat yogurt       0
green tea            0
honey                0
salad                0
mineral water        0
salmon               0
antioxydant juice    0
frozen smoothie      0
spinach              0
dtype: int64

In [12]:
transactions = []
for i in range(len(data)):
    transactions.append([item for item in data.iloc[i, :] if not pd.isna(item)])

In [13]:
te = TransactionEncoder()
te_arry = te.fit(transactions).transform(transactions)
df = pd.DataFrame(te_arry,columns=te.columns_)

In [ ]:
frequent_items = apriori(df,min_support=0.02,use_colnames=True)

In [ ]:
rules = assoc